.backToTop-container {
  /* border: solid red; */
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.backToTop-container > img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  cursor: pointer;
  transition: 300ms ease-in-out;
}
